@charset "UTF-8";
   /* 웹폰트 */    
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body{
    font-family: "Noto Sans KR", sans-serif;
    font-size: large;
    margin: 0;
}
  
.full{
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
    height: 74px;
    display: flex;
    align-items: center;
    width:100%;
    background-color: rgb(238, 197, 197);
  }
    
.ext{
  line-height: normal;
    -webkit-text-size-adjust: 100%;
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
    height: 74px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.logo{
  line-height: normal;
    -webkit-text-size-adjust: 100%;
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    
    height: auto;
}

.search{    
  line-height: normal;
    -webkit-text-size-adjust: 100%;
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
    margin: 0px 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 256px;
    transition: max-width 0.2s ease-in-out 0s;
    position: relative;
  }


  .search-boad{
    line-height: normal;
    -webkit-text-size-adjust: 100%;
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(228, 229, 237);
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    cursor: text;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 52, 65);
    height: 42px;
    padding: 0px 12px;
    min-width: 64px;
    border-radius: 20px;
    font-size: 14px;
   
  }
 .search-box{
  -webkit-text-size-adjust: 100%;
    font-family: inherit;
    line-height: normal;
    margin: 0;
    overflow: visible;
    outline: none;
    flex: 1 1 0%;
    width: 100%;
    background-image: none;
    box-sizing: border-box;
    font-size: inherit;
    border: none;
    font-weight: inherit;
    background-color: transparent;
    text-align: left;
    color: inherit;
 }

 .search-btn-box{
  line-height: normal;
    -webkit-text-size-adjust: 100%;
    cursor: text;
    color: rgb(48, 52, 65);
    font-size: 14px;
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 7px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-basis: auto;
 }
 .search-btn{
  -webkit-text-size-adjust: 100%;
    cursor: text;
    font-size: 14px;
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
 }



 .login-box{
  line-height: normal;
    -webkit-text-size-adjust: 100%;
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
 }

 .log-btn{
    background-color:rgb(47, 153, 244) ;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2) ;
    border: 2px solid rgb(47, 153, 244);
    border-radius : 15px ;
    color: white ;
    margin : 10px 120px 10px 0 ;
    width : 60px ;
    height : 35px ;
    font-size: small ;
 }
 
 .login-success{
 	magin: 10px;
 	text-align: center;
 	color: rgb(218, 41, 224) !important;
 }

 
 
 
 