@charset "UTF-8";
    /* 웹폰트 */    
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

    body{
        font-family: "Noto Sans KR", sans-serif;
        font-size: large;
    }

/* 전체적인 */
  .main{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 0px 100px auto ;
    grid-template-columns: 100vw;
    padding: 0%;
    margin: 0%;
  }
 
  .row{
    width:100%;
  }
  html {
     scroll-behavior: smooth;
   }



  /* 네비 바 */

    .navbar{
       /* background-color: rgb(47, 153, 244) !important; */
       background-color:white!important;
        border-radius: 5px;
    }

    .nav-link{
        color : red;
        margin: auto;
    }

    .nav-link:hover{
        color: rgb(218, 41, 224);
        background-color:white!important;
    }
    .nav-item{
        padding: 0px 20px;
    }

    .nav-link{
        font-size: 16px;
    }


  /* 메인 이미지*/
  @import "compass/css3";
  @font-face {
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/Anders.ttf');
    font-family: test;
  }
  .scene h1 {
    position: relative;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: test;
    color: rgb(220, 35, 164);
    z-index:5;
    font-weight: bold;
  }
  .scene a {
    margin: 10px;
  }
  .scene a.e {
    position: relative;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: test;
    color: rgb(255, 185, 55);
    z-index:5;
  }
  .scene a.n {
    position: relative;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: test;
    color: rgb(55, 222, 255);
    z-index:5;
  }
  .scene a.j{
    position: relative;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: test;
    color: rgb(147, 58, 255);
    z-index:5;
  }
  .scene a.o{
    position: relative;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: test;
    color: rgb(255, 55, 55);
    z-index:5;
  }
  .scene a.y{
    position: relative;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: test;
    color: rgb(41, 144, 255);
    z-index:5;
  }
  .scene, .scene:before, .scene:after {
    box-sizing: border-box;
    margin: 0;
  }
  .scene {
    position: relative;
    background:#fff2cc;
    padding: 15rem;
    text-align: center;
    font-size: 62.5%;
    height: 50%;
    overflow: hidden;
    font-weight: bold;
  }
  .magic {
    z-index: 5;
    position: absolute;
    width: 30rem;
    height: 30rem;
    background: url('../images/main/main.jpg') 50% 50% no-repeat fixed;
    border-radius: 50%;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
  }


/* 카테고리 */
  .ct_img{
    width: 300px; 
    height: 270px; 
    filter: grayscale(0%);
    border-radius: 30px;
  } 
  .ct_article:hover .ct_img{
    transform: scale(1.05);
    transition: transform .35s;
    filter: grayscale(70%);
  }
  
  .category{
    width: 100%;
  }
  .ct_title{
    width: 100%;
    padding-left: 100px;
    margin: 30px 0px;
  }
  .ct_list{
    width: 100%;
    padding: auto;
    margin: auto;
  }
  .ct_list1  .ct_list_2{
    width: 100%;
    margin: 10px;
  }
  .ct_list_box{
    width: 100%;
    padding-left: 110px;
    padding-right: 30px;
    text-align: center;
    margin-bottom: 30px;
  } 


/* 인기수강 */
  .popular{
    width: 100%;
  }
  .p_img{
    width: 270px; 
    height: 180px; 
  } 
  .p_article:hover .p_img{
    transform: scale(1.1);
    transition: transform .35s;
  }
  .p_class{
    width: 270px; 
    border-radius: 20px;
    overflow: hidden;
  }
  .p_article{
    float : left;
    margin: 5px 15px;
  }
      /*구간 표시 위해서 */
  .p_row{     
    height : 600px;   
    margin : auto 0 ;
  }
  .p_small{
      margin : 2px;
  }
  .p_title{
    margin : 2px;
    height : 50px;
  }
  .p_price{
    margin : 0px 15px ;
    text-align: right;
    font-size : 23px; 
  }
  .p_star{
    text-align: right;
    margin : 0px 20px ;
  }
      /*a태그 관련*/
  .popular a{
    text-decoration:none !important; 
  }
  .popular a:link{
    color:black; 
  }
  .popular a:visited {
    color : black;
  }
  .popular a:hover {
    color : black !important;
  }   


  /*유튜브 동영상*/
  .yt_container {
    width: 100%;
    height: auto;
    background-color: lightblue; /*수정필요*/
  }
  .ytle{
    margin-top: 200px;
    margin-left: 100px;
    text-align: center;
  }
  .pad10{
    padding-right : 30px;
    margin-left: 60px;
  }
  

/*자주 묻는 질문*/
  .QnA{
    width: 100%;
    background-color: lightblue; /*수정필요*/
    padding: 30px;
    -webkit-appearance: none;
   -webkit-border-radius: 0;
  }
  .panel a.collapsed {    
    color: rgb(7, 7, 7);
  }
  .panel-body {
    color: #13477d;
  }
  .panel-group{
    background-color:  rgb(43, 41, 41);
  }
  .panel-heading{
    background-color:  #748eb6;
  }
  .panel-title{
    background-color: #748eb6;
  }
  .panel-body{
    background-color: #acd8e2;
  }

  